<div style="background-color:#660000;color:white;padding: 20px">
  <h2 style="font-weight:bold"> 
    schema.org concepts
  </h2>
  <div style="font-family: 'Lucida Grande' , 'Lucida Sans Unicode' , Verdana, Tahoma, Arial, sans-serif; font-size:12px;"> 
    Select a concept below to start
  </div>
</div>

<div *ngIf="schema"> 
  <div style="background-color: #C7CBCE; padding:20px 30px">
    <div *ngFor="#item of schema.concepts">
      <button class="btn btn-default" style="margin:5px;" type="button" (click)="startWizard(item.label)">
        {{item.label}}
      </button>

      <div class="form-group" style="margin-left:20px;">
        <class-item [classItem]="item"></class-item>
      </div>

    </div>
  </div>
</div>
